<h2 id='title'>ember-inline-svg</h2>

<h3>Compile Time: </h3>

{{inline-svg 'kiwi'
  title='kiwi'
  desc='demonstration of compile-time inlining'
  width='400px'
}}

<h3>Run Time:</h3>

{{async-svg 'kiwi'
  title='kiwi'
  desc='demonstration of run-time inlining'
  width='400px'
}}

{{outlet}}
